AppAgenciaViajes/Connected Services/TipoServicioServiceReference/SvcTipoServicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoServicio" nillable="true" type="tns:TipoServicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoServicio" nillable="true" type="tns:ArrayOfTipoServicio" />
  <xs:complexType name="TipoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoServicioFecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TipoServicioID" type="xs:int" />
      <xs:element minOccurs="0" name="TipoServicioNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoServicio" nillable="true" type="tns:TipoServicio" />
</xs:schema>