AppAgenciaViajes/Connected Services/CiudadServiceReference/SvcCiudad2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCiudad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ciudad" nillable="true" type="tns:Ciudad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCiudad" nillable="true" type="tns:ArrayOfCiudad" />
  <xs:complexType name="Ciudad">
    <xs:sequence>
      <xs:element minOccurs="0" name="CiudadFecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CiudadID" type="xs:int" />
      <xs:element minOccurs="0" name="CiudadNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PaisNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ciudad" nillable="true" type="tns:Ciudad" />
</xs:schema>