AppAgenciaViajes/Connected Services/ServicioAdicionalServiceReference/SvcServicioAdicional.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServicioAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicioAdicional" nillable="true" type="tns:ServicioAdicional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicioAdicional" nillable="true" type="tns:ArrayOfServicioAdicional" />
  <xs:complexType name="ServicioAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServicioAdicionalDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicioAdicionalFecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ServicioAdicionalID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicioAdicional" nillable="true" type="tns:ServicioAdicional" />
</xs:schema>