AppAgenciaViajes/Connected Services/PasajeroServiceReference/SvcPasajero1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPasajero">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pasajero" nillable="true" type="tns:Pasajero" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPasajero" nillable="true" type="tns:ArrayOfPasajero" />
  <xs:complexType name="Pasajero">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasajeroApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasajeroCorreo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasajeroFecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PasajeroID" type="xs:int" />
      <xs:element minOccurs="0" name="PasajeroNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasajeroTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumentoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pasajero" nillable="true" type="tns:Pasajero" />
</xs:schema>