AppAgenciaViajes/Connected Services/MaletaServiceReference/SvcMaleta1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMaleta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Maleta" nillable="true" type="tns:Maleta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaleta" nillable="true" type="tns:ArrayOfMaleta" />
  <xs:complexType name="Maleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaletaAlto" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaletaAncho" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaletaID" type="xs:int" />
      <xs:element minOccurs="0" name="MaletaLargo" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaletaPeso" type="xs:decimal" />
      <xs:element minOccurs="0" name="PasajeroID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Maleta" nillable="true" type="tns:Maleta" />
</xs:schema>