AppAgenciaViajes/Connected Services/MaletaServiceReference/SvcMaleta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SvcMaleta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/AgenciaServices/SvcMaleta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/AgenciaServices/SvcMaleta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/AgenciaServices/SvcMaleta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISvcMaleta_Consultar_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar" />
  </wsdl:message>
  <wsdl:message name="ISvcMaleta_Consultar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcMaleta_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="ISvcMaleta_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:portType name="ISvcMaleta">
    <wsdl:operation name="Consultar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcMaleta/Consultar" message="tns:ISvcMaleta_Consultar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcMaleta/ConsultarResponse" message="tns:ISvcMaleta_Consultar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcMaleta/Insertar" message="tns:ISvcMaleta_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcMaleta/InsertarResponse" message="tns:ISvcMaleta_Insertar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISvcMaleta" type="tns:ISvcMaleta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://tempuri.org/ISvcMaleta/Consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/ISvcMaleta/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SvcMaleta">
    <wsdl:port name="BasicHttpBinding_ISvcMaleta" binding="tns:BasicHttpBinding_ISvcMaleta">
      <soap:address location="http://localhost/AgenciaServices/SvcMaleta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>