AppAgenciaViajes/Connected Services/ViajeServiceReference/SvcViaje.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfViaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Viaje" nillable="true" type="tns:Viaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViaje" nillable="true" type="tns:ArrayOfViaje" />
  <xs:complexType name="Viaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="CiudadDestinoID" type="xs:int" />
      <xs:element minOccurs="0" name="CiudadOrigenID" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumeroDeMaletas" type="xs:double" />
      <xs:element minOccurs="0" name="PaisDestinoID" type="xs:int" />
      <xs:element minOccurs="0" name="PaisOrigenID" type="xs:int" />
      <xs:element minOccurs="0" name="Pasajero" nillable="true" type="tns:Pasajero" />
      <xs:element minOccurs="0" name="PasajeroApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasajeroID" type="xs:int" />
      <xs:element minOccurs="0" name="PasajeroNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicioAdicionalID" type="xs:int" />
      <xs:element minOccurs="0" name="TipoServicioID" type="xs:int" />
      <xs:element minOccurs="0" name="ViajeDeFecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ViajeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Viaje" nillable="true" type="tns:Viaje" />
  <xs:complexType name="Pasajero">
    <xs:sequence>
      <xs:element minOccurs="0" name="Maletas" nillable="true" type="tns:ArrayOfMaleta" />
      <xs:element minOccurs="0" name="NumDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasajeroApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasajeroCorreo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasajeroFecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PasajeroID" type="xs:int" />
      <xs:element minOccurs="0" name="PasajeroNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasajeroTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumentoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pasajero" nillable="true" type="tns:Pasajero" />
  <xs:complexType name="ArrayOfMaleta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Maleta" nillable="true" type="tns:Maleta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaleta" nillable="true" type="tns:ArrayOfMaleta" />
  <xs:complexType name="Maleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaletaAlto" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaletaAncho" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaletaID" type="xs:int" />
      <xs:element minOccurs="0" name="MaletaLargo" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaletaPeso" type="xs:decimal" />
      <xs:element minOccurs="0" name="PasajeroID" type="xs:int" />
      <xs:element minOccurs="0" name="ServiciosAdicionales" nillable="true" type="tns:ArrayOfServicioAdicional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Maleta" nillable="true" type="tns:Maleta" />
  <xs:complexType name="ArrayOfServicioAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicioAdicional" nillable="true" type="tns:ServicioAdicional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicioAdicional" nillable="true" type="tns:ArrayOfServicioAdicional" />
  <xs:complexType name="ServicioAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServicioAdicionalDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicioAdicionalFecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ServicioAdicionalID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicioAdicional" nillable="true" type="tns:ServicioAdicional" />
</xs:schema>