AppAgenciaViajes/Connected Services/ServicioAdicionalXMaletaServiceReference/SvcServicioAdicionalXMaleta1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AgenciaVObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServicioAdicionalXMaleta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicioAdicionalXMaleta" nillable="true" type="tns:ServicioAdicionalXMaleta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicioAdicionalXMaleta" nillable="true" type="tns:ArrayOfServicioAdicionalXMaleta" />
  <xs:complexType name="ServicioAdicionalXMaleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaletaID" type="xs:int" />
      <xs:element minOccurs="0" name="ServicioAdicionalID" type="xs:int" />
      <xs:element minOccurs="0" name="ServicioAdicionalXMaletaFecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicioAdicionalXMaletaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicioAdicionalXMaleta" nillable="true" type="tns:ServicioAdicionalXMaleta" />
</xs:schema>